Checks: "-*,\
  boost-*,\
  bugprone-*,\
  cert-*,\
  clang-analyzer-*,\
  cppcoreguidelines-*,\
  -cppcoreguidelines-avoid-magic-numbers,\
  -cppcoreguidelines-pro-type-reinterpret-cast,\
  google-*,\
  -google-runtime-references,\
  misc-*,\
  -misc-const-correctness,\
  -misc-non-private-member-variables-in-classes,\
  modernize-*,\
  -modernize-use-nodiscard,\
  -modernize-use-trailing-return-type,\
  performance-*,\
  portability-*,\
  readability-*,\
  -readability-identifier-length,\
  -readability-magic-numbers,\
  "
HeaderFilterRegex: "include/.*"
WarningsAsErrors: "*"
